body {
    font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
a {
    cursor: pointer;
}

input,
textarea {
    box-sizing: border-box;
    outline: none;
}