.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

@media screen and(min-width:480px) {
        width: 320px;
        padding-left: 22px;
        padding-right: 22px;
    }

@media screen and(min-width:768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

@media screen and(min-width:1200px) {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.body{
    margin-left: auto;
    margin-right: auto;
    background-repeat:repeat-y;
    background-size: contain;
    @media screen and(min-width:320px){
    background-image: url(/src/images/bcgrounds/bcground1-mob_1x.jpg);
    }
    @media screen and(min-width:768px){
    background-image: url(/src/images/bcgrounds/bcground1-tab_1x.jpg);
    }
    @media screen and(min-width:768px) {
    background-image: url(/src/images/bcgrounds/bcground1-desk_1x.jpg);
    }
}
