:root {
  --button-color-yel:#F8D24E;
  --button-color-green:#0A8817;
  --button-color-gre:#ABABAB;
  --txt-color-btnwhi:#FCFCFC;
  --txt-color-btnblck:#000000;
  --border-color-gre:#96AF8C;
  --border-color-yel:#EFD478;
  --border-color-bro:#D6936D;
  --ingredients-bcgrnd:#9CBE8F;
  --background-img:#D9D9D9;
  --txt-color-blck:#131313;
  --background-gre:#84A178;
  --product-color-gre:#AEC6A5;
  --copyright-color:#7A7A7A;
}

body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
a {
  cursor: pointer;
}

input,
textarea {
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0.2;
  visibility: hidden;
  transform: translate(0%, 100%);
  pointer-events: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 34px;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}
.button:disabled {
  cursor: not-allowed;
}

.first-type__button {
  height: 42px;
  background: transparent;
  border: 2px solid var(--button-color-yel);
  border-radius: 10px;
}
.first-type__button:hover {
  border: 2px solid var(--button-color-green);
}
.first-type__button:focus {
  color: var(--txt-color-btnwhi);
  border: 2px solid var(--button-color-green);
  outline: none;
}
.first-type__button:disabled {
  border: 2px solid var(--button-color-gre);
  color: var(--txt-color-blck);
}

.second-type__button {
  height: 42px;
  background: var(--button-color-yel);
  border: none;
  border-radius: 10px;
}
.second-type__button:hover {
  background: var(--button-color-green);
}
.second-type__button:focus {
  background: var(--button-color-green);
  color: var(--txt-color-btnwhi);
  outline: var(--button-color-green);
}
.second-type__button:disabled {
  background: var(--button-color-gre);
  color: var(--txt-color-blck);
}
.second-type__button.button__icon:focus {
  background: var(--txt-color-btnwhi);
}
.second-type__button.button__icon:disabled {
  background: var(--txt-color-blck);
}

.third-type__button {
  height: 40px;
  background-color: transparent;
  border: none;
  color: var(--button-color-yel);
  text-decoration: underline;
}
.third-type__button:hover {
  color: var(--button-color-green);
}
.third-type__button:focus {
  color: var(--txt-color-btnwhi);
}
.third-type__button:disabled {
  color: var(--button-color-gre);
}

.fourth-type__button {
  height: 42px;
  background-color: transparent;
  border: 2px solid var(--button-color-yel);
  border-radius: 10px;
}
.fourth-type__button:hover {
  border: 2px solid var(--button-color-green);
}
.fourth-type__button:focus {
  color: var(--txt-color-btnwhi);
  border: 2px solid var(--button-color-green);
  outline: none;
}
.fourth-type__button:disabled {
  border: 2px solid var(--button-color-gre);
  color: var(--txt-color-blck);
}
.fourth-type__button.button__icon:focus {
  background: var(--txt-color-btnwhi);
}
.fourth-type__button.button__icon:disabled {
  background: var(--txt-color-blck);
}

.button__icon {
  margin-left: 12px;
  background: var(--txt-color-blck);
}

@media screen and (max-width: 1199px) {
  .first-type__button {
    height: 24px;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 8px;
    line-height: 1.25;
  }
  .third-type__button {
    height: 24px;
    padding: 6px 10px;
    font-size: 8px;
    line-height: 1.25;
  }
}
.container {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  position: relative;
  background-color: var(--background-gre);
  height: 502px;
  width: 100%;
}
.hero__buttons {
  display: flex;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 415px;
  }
}

.hero__buttons {
  display: flex;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .hero__buttons {
    margin-top: 20px;
  }
}

.third-type__button {
  margin-left: 8px;
}

.hero__text {
  padding-top: 110px;
  max-width: 247px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--txt-color-btnwhi);
}
.hero__text--bolder {
  font-size: 34px;
}
@media screen and (min-width: 768px) {
  .hero__text--bolder {
    font-size: 25px;
    max-width: 183px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 18px;
    max-width: 182px;
    padding-top: 104px;
  }
}

.hero__isecream {
  width: 270px;
  z-index: 20;
  position: absolute;
  bottom: 0;
  right: -50%;
  transform: translate(-50%, 16%);
}
@media screen and (min-width: 768px) {
  .hero__isecream {
    width: 100%;
    height: 343px;
    right: -75%;
    transform: translate(-28%, -16%);
  }
}

.hero__dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
}

.hero__dish-icecream {
  position: absolute;
  left: 32px;
  bottom: 13px;
}
@media screen and (max-width: 767px) {
  .hero__dish-icecream {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.dish__text--thumb {
  margin-top: 56px;
  margin-left: 217px;
  width: 151px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--txt-color-btnwhi);
}
@media screen and (max-width: 767px) {
  .dish__text--thumb {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.products__poto {
  z-index: 2;
  position: absolute;
  background: transparent;
}

.products__peculiarity {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 12px;
  color: #131313;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.22;
}
@media screen and (min-width: 1200px) {
  .products__peculiarity {
    font-size: 30px;
  }
}

.products__title {
  padding-bottom: 148px;
  color: #131313;
  text-transform: uppercase;
  font-family: Seymour One;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.27;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .products__title {
    padding-bottom: 303px;
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .products__set {
    display: flex;
    justify-content: space-evenly;
  }
}

.products__bg {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .products__bg {
    width: 280px;
    height: 420px;
  }
}
@media screen and (min-width: 768px) {
  .products__bg {
    width: 224px;
    height: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .products__bg {
    width: 370px;
    height: 536px;
  }
}

.ice-cream.products__bg {
  background-color: #AEC6A5;
}

.ice-coffee.products__bg {
  background-color: #EFD478;
}

.milkshakes.products__bg {
  background-color: #D6936D;
}

.products__item {
  display: block;
  text-align: center;
  margin-bottom: 164px;
}

last-child {
  margin-bottom: 60px;
}

.products__name {
  padding-top: 123px;
  padding-bottom: 40px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.22;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products__name {
    padding-top: 108px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .products__name {
    padding-top: 166px;
    padding-bottom: 65px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.23;
    text-align: center;
  }
}

.products__text {
  padding-left: 40px;
  padding-right: 40px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.78;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 16px;
    line-height: 28px;
  }
}

.products__img {
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.img-ice-cream {
  box-shadow: 0px 17px 0px 0px rgb(174, 198, 165), 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.img-ice-coffee {
  box-shadow: 0px 17px 0px 0px rgb(239, 212, 120), 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.img-milkshakes {
  box-shadow: 0px 17px 0px 0px rgb(214, 147, 109), 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.open-mobile-menu-products {
  color: #131313;
  width: 40px;
  border: 2px solid rgb(19, 19, 19);
}

.products__modal-container {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.ingredients__item {
  display: flex;
  justify-content: space-between;
}

.about__container {
  padding: 60px 21px 21px;
  background-color: var(--background-gre);
}

@media screen and (min-width: 768px) {
  .about__container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .about__container {
    padding-left: 16px;
    padding-right: 121px;
    padding-bottom: 30px;
  }
}
.about-label {
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-color-btnwhi);
}

@media screen and (min-width: 768px) {
  .about-label {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about-label {
    font-size: 30px;
  }
}
.about-title {
  margin-bottom: 53px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--txt-color-btnwhi);
}

@media screen and (min-width: 768px) {
  .about-title {
    margin-bottom: 79px;
    font-size: 34px;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .about-title {
    margin-bottom: 121px;
    font-size: 36px;
    line-height: 1.25;
  }
}
.about-title__text {
  display: block;
}

@media screen and (min-width: 768px) {
  .about-title__text {
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .about-block {
    position: relative;
  }
}
.about-image {
  border-radius: 50%;
  box-shadow: 0 -21px 0 0 rgba(248, 210, 78, 0.7);
}

@media screen and (min-width: 768px) {
  .about-image {
    position: absolute;
    top: 19px;
    right: 400px;
    bottom: 24px;
    left: 0px;
    box-shadow: rgba(248, 210, 78, 0.7) 0px -26px;
  }
}
@media screen and (min-width: 1200px) {
  .about-image {
    position: absolute;
    top: 0px;
    right: 684px;
    bottom: 30px;
    left: 0px;
    box-shadow: rgba(248, 210, 78, 0.7) 8px -39px;
  }
}
@media screen and (min-width: 768px) {
  .about-block-info {
    margin-left: 336px;
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .about-block-info {
    margin-bottom: 122px;
    margin-left: 600px;
  }
}
.about-paragraph {
  padding-left: 29px;
  padding-right: 29px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--txt-color-btnwhi);
}

@media screen and (min-width: 768px) {
  .about-paragraph {
    padding-left: 32px;
    padding-right: 0;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about-paragraph {
    padding-left: 0px;
  }
}
.about-paragraph__first {
  padding-top: 51px;
  padding-bottom: 4px;
  line-height: 1.75;
}

@media screen and (min-width: 768px) {
  .about-paragraph__first {
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .about-paragraph__first {
    font-size: 16px;
  }
}
.about-paragraph__second {
  letter-spacing: 0em;
  line-height: 1.58;
}

@media screen and (min-width: 768px) {
  .about-paragraph__second {
    padding-bottom: 8px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about-paragraph__second {
    font-size: 14;
    line-height: 1.93;
  }
}
.about-paragraph__third {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-paragraph__third {
    display: inline-block;
    justify-content: left;
    line-height: 1.92;
  }
}
@media screen and (min-width: 1200px) {
  .about-paragraph__third {
    font-size: 14px;
    line-height: 1.93;
  }
}
.about-button {
  width: 164px;
  height: 42px;
  padding: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0;
  background: var(--button-color-yel);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  color: #131313;
  text-align: center;
}

.about-button:after {
  content: url(#);
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .about-button {
    display: inline-block;
    margin-left: 35px;
    margin-top: 48px;
    margin-bottom: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .about-button {
    margin-left: 0px;
  }
}
.about-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 276px;
  height: 455px;
  background: var(--txt-color-btnwhi);
  border: 2px solid var(--button-color-yel);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .about-modal {
    width: 568px;
    height: 449px;
  }
}
.adaptive-wrap {
  display: flex;
  justify-content: center;
}

.about-video {
  width: 224px;
  height: 199px;
}

@media screen and (min-width: 768px) {
  .about-video {
    width: 448px;
    height: 205px;
  }
}
.about-modal__title {
  margin: 28px auto 20px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: var(--txt-color-blck);
}

@media screen and (min-width: 768px) {
  .about-modal__title {
    margin: 32px auto;
    font-size: 20px;
    line-height: 1.4;
  }
}
.about-modat__text {
  margin: 20px 28px 28px;
}

@media screen and (min-width: 768px) {
  .about-modat__text {
    margin: 32px 60px;
  }
}
.about-modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .about-modal__btn {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}
.about-modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages {
  background-color: var(--background-gre);
}
.advantages_container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .advantages_container {
    padding: 21px 45px 36px;
  }
}
@media screen and (min-width: 768px) {
  .advantages_container {
    padding: 24px 76px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages_container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.advantages_list {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -24px;
}
@media screen and (min-width: 767px) {
  .advantages_list {
    display: flex;
    margin-left: -80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages_list {
    display: flex;
    margin-left: -32px;
  }
}
.advantages_item {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .advantages_item {
    flex-basis: calc(33.3333333333% - 80px);
    margin-left: 80px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages_item {
    flex-basis: calc(33.3333333333% - 32px);
    margin-left: 32px;
  }
}
.advantages_content {
  display: block;
  margin-bottom: 18px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .advantages_content {
    margin-bottom: 16px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
  }
}
.advantages_text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  color: #FCFCFC;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .advantages_text {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 174%;
  }
}
@media screen and (min-width: 1200px) {
  .advantages_text {
    ont-family: "Montserrat";
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages_box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F8D24E;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .advantages_box {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .advantages_box {
    margin-bottom: 40px;
  }
}
.advantages_box-cow::before {
  content: "";
}
.advantages_box-weight::before {
  content: "";
}
.advantages_box-ice-cream::before {
  content: "";
}

.section--gallery {
  margin: auto;
  background: linear-gradient(180deg, rgb(132, 161, 120) 0%, rgb(132, 161, 120) 18.5%, rgb(255, 255, 255) 18.5%, rgb(255, 255, 255) 100%);
}
@media screen and (min-width: 768px) {
  .section--gallery {
    background: linear-gradient(180deg, rgb(132, 161, 120) 0%, rgb(132, 161, 120) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .section--gallery {
    background: linear-gradient(180deg, rgb(132, 161, 120) 0%, rgb(132, 161, 120) 22%, rgb(255, 255, 255) 22%, rgb(255, 255, 255) 100%);
  }
}

.iceCreamSlides {
  display: none;
}

.gallery__slides-container {
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-reviews__container {
  position: relative;
  padding: 0 20px;
  margin-bottom: 48px;
}

.page-reviews__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-reviews__picture {
  display: flex;
  justify-content: center;
}

.page-reviews-image {
  background-color: aqua;
  border-radius: 50%;
}

.page-reviews__text-container {
  padding: 34px 39px;
  height: 256px;
  border-radius: 10px;
  background-color: var(--background-gre);
  margin-bottom: 30px;
}

.page-reviews-image {
  margin-bottom: 32px;
}

.page-reviews__contacts {
  text-align: center;
  margin-bottom: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  color: var(--txt-color-blck);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page-reviews__text {
  text-align: center;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 2.55;
  color: var(--txt-color-btnwhi);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--background-img);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot .active, .dot:hover {
  background-color: var(--background-gre);
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 480px) {
  .page-reviews__container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .page-reviews__text-container {
    height: 138px;
    padding: 23px 39px;
  }
}
@media screen and (min-width: 768px) {
  .page-reviews__container {
    width: 768px;
    margin-bottom: 80px;
    padding: 0 32px;
  }
  .page-reviews__text-container {
    height: 138px;
    padding: 29px 80px;
  }
  .page-reviews__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
  .page-reviews__contacts {
    line-height: 16px;
  }
}
@media screen and (min-width: 832px) {
  .page-reviews__container {
    width: 768px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-reviews__text {
    font-size: 16px;
  }
  .page-reviews__text-container {
    padding: 39px 74px;
  }
  .page-reviews__container {
    width: 1200px;
    padding: 0 116px;
  }
}
@media screen and (min-width: 1432px) {
  .page-reviews__container {
    padding: 0;
  }
}
.contacts-section {
  background-color: var(--background-gre);
}

.contacts-section__container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 38px;
  font-family: "Montserrat";
  font-style: normal;
}

.contacts-section__list {
  margin-bottom: 32px;
}

.contact-card {
  margin-bottom: 20px;
  padding: 40px 20px;
  background-color: var(--txt-color-btnwhi);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contact-card:last-child {
  margin-bottom: 0;
}

.contact-card__title {
  display: inline;
  margin-bottom: 0;
  padding: 1px 23px;
  background: var(--button-color-yel);
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--txt-color-blck);
}

.city-address {
  border-bottom: 1px solid #E1E1E1;
}

.city-address__name {
  margin-top: 20px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--txt-color-blck);
}

.city-address__link {
  display: block;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--border-color-bro);
}

.schedule {
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E1E1E1;
}

.schedule__working-days {
  font-style: normal;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--txt-color-blck);
}

.schedule__working-time {
  display: block;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--button-color-gre);
}

.contact-list {
  padding-top: 24px;
}

.contact-list__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--txt-color-blck);
}

.second-type__button-contacts {
  width: 196px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.fourth-type__button-contacts {
  width: 196px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .contacts-section__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-section__container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
  }
  .contacts-section__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .contact-section__buttons-container {
    display: flex;
    justify-content: space-between;
    padding-left: 148px;
    padding-right: 148px;
  }
  .contact-card {
    margin-bottom: 0;
    width: 224px;
  }
  .contact-card:last-child {
    margin-bottom: 0;
  }
  .contact-card__title {
    padding: 5px 13px;
    font-size: 16px;
    line-height: 1.75;
  }
  .city-address__name {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 14px;
  }
  .city-address__link {
    margin-bottom: 32px;
    font-size: 14px;
    max-width: 160px;
  }
  .schedule {
    padding-top: 32px;
    padding-bottom: 24px;
  }
  .schedule__working-days {
    font-size: 14px;
  }
  .schedule__working-time {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }
  .contact-list {
    padding-top: 32px;
  }
  .contact-list__link {
    font-size: 14px;
    line-height: 1.83;
  }
  .second-type__button-contacts {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .fourth-type__button-contacts {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 120px;
  }
  .contacts-section__list {
    margin-bottom: 64px;
  }
  .contact-section__buttons-container {
    padding-left: 380px;
    padding-right: 380px;
  }
  .contact-card {
    width: 368px;
  }
  .city-address__name {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .city-address__link {
    max-width: 288px;
    font-size: 16px;
  }
  .schedule__working-days {
    font-size: 16px;
  }
  .schedule__working-time {
    margin-bottom: 12px;
    font-size: 16px;
  }
  .contact-list__link {
    font-size: 16px;
  }
}
.footer-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: 15px;
  color: #FCFCFC;
}

footer {
  background-color: #84A178;
}

.footer-end {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  border-top: 1px solid #E1E1E1;
  justify-content: center;
  display: flex;
}

.current-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.footer-contacts {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 15px;
  margin-bottom: 50px;
}

.footer-page {
  margin-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}/*# sourceMappingURL=index.css.map */