:root {
  --button-color-yel: #f8d24e;
  --button-color-green: #0a8817;
  --button-color-grey: #ababab;
  --txt-color-btnwhi: #fcfcfc;
  --txt-color-btnblck: #000000;
  --border-color-gre: #96af8c;
  --border-color-yel: #efd478;
  --border-color-bro: #d6936d;
  --ingredients-bcgrnd: #9cbe8f;
  --background-img: #d9d9d9;
  --txt-color-blck: #131313;
  --background-gre: #84a178;
  --product-color-gre: #aec6a5;
  --copyright-color: #7a7a7a;
}
