<section class="advantages">
    <div class="container">
        <h2 class="advantages_title title-hidden">Our advantages</h2>
            <ul class="advantages_list list">
                <li class="advantages_item">
                    <div class="advantages_box advantages_box-cow"></div>
                    <strong class="advantages_content">721</strong>
                    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="advantages_item">
                    <div class="advantages_box advantages_box-weight"></div>
                    <strong class="advantages_content">16kg</strong>
                    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="advantages_item"> 
                    <div class="advantages_box advantages_box-ice-crema"></div>
                    <strong class="advantages_content">84</strong>
                    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
            </ul>
    </div>
</section>