
<section class="advantages container">
    <div class="advantages_container">
        <h2 class="advantages_title title-hidden">Our advantages</h2>
            <ul class="advantages_list list">
                <li class="advantages_item">
                    <div class="advantages_box advantages_box-cow"><svg class="advantages-box__icon" width="36" height="36">
                        <use href="/src/images/symbol-defs.svg#icon-cow"></use></svg></div>
                    <strong class="advantages_content">721</strong>
                    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="advantages_item">
                    <div class="advantages_box advantages_box-weight"><svg class="advantages-box__icon" width="36" height="36">
                        <use href="/src/images/symbol-defs.svg#icon-weight"></use></svg></div>
                    <strong class="advantages_content">16kg</strong>
                    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="advantages_item"> 
                    <div class="advantages_box advantages_box-ice-cream"><svg class="advantages-box__icon" width="36" height="36">
                        <use href="/src/images/symbol-defs.svg#icon-ice-cream"></use></svg></div>
                    <strong class="advantages_content">84</strong>
                    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
            </ul>
    </div>
</section>