<section class="contacts-section">
  <div class="container contacts-section__container">
    <ul class="contacts-section__list">
      <li class="contact-card">
        <h3 class="contact-card__title">CAFE</h3>
        <address class="contact-card__address">
          <ul class="address-list">
            <li class="city-address">
              <p class="city-address__name">Chicago</p>
              <a
                href="https://goo.gl/maps/E3EYGC9EUDiF5RwN8"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="city-address__link"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </li>
            <li class="schedule">
              <p class="schedule__working-days">
                Monday - Friday
                <span class="schedule__working-time">06:00 AM - 10:00 PM</span>
              </p>
              <p class="schedule__working-days">
                Saturday - Sunday
                <span class="schedule__working-time">08:00 AM - 16:00 PM</span>
              </p>
            </li>
            <li class="contact-list">
              <a href="tel:+610383766284" class="contact-list__link"
                >+61(0) 383 766 284</a
              >
              <a href="mailto:noreply@envato.com" class="contact-list__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contact-card">
        <h3 class="contact-card__title">FOODTRUCK</h3>
        <address class="contact-card__address">
          <ul class="address-list">
            <li class="city-address">
              <p class="city-address__name">Los Angeles</p>
              <a
                href="https://goo.gl/maps/1F1bcAT6BMgut6He9"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="city-address__link"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </li>
            <li class="schedule">
              <p class="schedule__working-days">
                Monday - Friday
                <span class="schedule__working-time">06:00 AM - 10:00 PM</span>
              </p>
              <p class="schedule__working-days">
                Saturday - Sunday
                <span class="schedule__working-time">08:00 AM - 16:00 PM</span>
              </p>
            </li>
            <li class="contact-list">
              <a href="tel:+610383766284" class="contact-list__link"
                >+61(0) 383 766 284</a
              >
              <a href="mailto:noreply@envato.com" class="contact-list__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contact-card">
        <h3 class="contact-card__title">CAFE</h3>
        <address class="contact-card__address">
          <ul class="address-list">
            <li class="city-address">
              <p class="city-address__name">New York</p>
              <a
                href="https://goo.gl/maps/M41vvWwAF8svoXew6"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="city-address__link"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </li>
            <li class="schedule">
              <p class="schedule__working-days">
                Monday - Friday
                <span class="schedule__working-time">06:00 AM - 10:00 PM</span>
              </p>
              <p class="schedule__working-days">
                Saturday - Sunday
                <span class="schedule__working-time">08:00 AM - 16:00 PM</span>
              </p>
            </li>
            <li class="contact-list">
              <a href="tel:+610383766284" class="contact-list__link"
                >+61(0) 383 766 284</a
              >
              <a href="mailto:noreply@envato.com" class="contact-list__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>

    <div class="contact-section__buttons-container">
      <button
        type="button"
        class="button second-type__button second-type__button-contacts"
        modal-locations-open
      >
        Our Locations
        <svg class="button__icon" width="12" height="12">
          <use href="#"></use>
        </svg>
      </button>
      <button
        type="button"
        class="button fourth-type__button fourth-type__button-contacts"
      >
        Franchise
        <svg class="button__icon" width="12" height="12">
          <use href="#"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="buttons-examples">
    <button type="button" class="button first-type__button">Products</button>
    <button type="button" class="button second-type__button">
      Read more
      <svg class="button__icon" width="12" height="12">
        <use href="#"></use>
      </svg>
    </button>
    <button type="button" class="button third-type__button">
      How it’s made?
    </button>
    <button type="button" class="button fourth-type__button">
      Franchise
      <svg class="button__icon" width="12" height="12">
        <use href="#"></use>
      </svg>
    </button>
  </div>
</section>
