<section class="contacts-section">
  <div class="container contacts-section__container">
    <ul class="contacts-section__list">
      <li class="contact-card">
        <h3 class="contact-card__title">CAFE</h3>
        <address class="contact-card__address">
          <ul class="address-list">
            <li class="city-address">
              <p class="city-address__name">Chicago</p>
              <a
                href="https://goo.gl/maps/E3EYGC9EUDiF5RwN8"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="city-address__link"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </li>
            <li class="schedule">
              <p class="schedule__working-days">
                Monday - Friday
                <span class="schedule__working-time">06:00 AM - 10:00 PM</span>
              </p>
              <p class="schedule__working-days">
                Saturday - Sunday
                <span class="schedule__working-time">08:00 AM - 16:00 PM</span>
              </p>
            </li>
            <li class="contact-list">
              <a href="tel:+610383766284" class="contact-list__link"
                >+61(0) 383 766 284</a
              >
              <a href="mailto:noreply@envato.com" class="contact-list__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contact-card">
        <h3 class="contact-card__title">FOODTRUCK</h3>
        <address class="contact-card__address">
          <ul class="address-list">
            <li class="city-address">
              <p class="city-address__name">Los Angeles</p>
              <a
                href="https://goo.gl/maps/1F1bcAT6BMgut6He9"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="city-address__link"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </li>
            <li class="schedule">
              <p class="schedule__working-days">
                Monday - Friday
                <span class="schedule__working-time">06:00 AM - 10:00 PM</span>
              </p>
              <p class="schedule__working-days">
                Saturday - Sunday
                <span class="schedule__working-time">08:00 AM - 16:00 PM</span>
              </p>
            </li>
            <li class="contact-list">
              <a href="tel:+610383766284" class="contact-list__link"
                >+61(0) 383 766 284</a
              >
              <a href="mailto:noreply@envato.com" class="contact-list__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contact-card">
        <h3 class="contact-card__title">CAFE</h3>
        <address class="contact-card__address">
          <ul class="address-list">
            <li class="city-address">
              <p class="city-address__name">New York</p>
              <a
                href="https://goo.gl/maps/M41vvWwAF8svoXew6"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="city-address__link"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </li>
            <li class="schedule">
              <p class="schedule__working-days">
                Monday - Friday
                <span class="schedule__working-time">06:00 AM - 10:00 PM</span>
              </p>
              <p class="schedule__working-days">
                Saturday - Sunday
                <span class="schedule__working-time">08:00 AM - 16:00 PM</span>
              </p>
            </li>
            <li class="contact-list">
              <a href="tel:+610383766284" class="contact-list__link"
                >+61(0) 383 766 284</a
              >
              <a href="mailto:noreply@envato.com" class="contact-list__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>

    <div class="contact-section__buttons-container">
      <button
        type="button"
        class="button second-type__button second-type__button-contacts modal-locations-open">
        Our Locations
        <svg class="button__icon">
          <use href="/src/images/symbol-defs.svg#icon-button-direct"></use>
        </svg>
      </button>
      <button
        type="button"
        class="button fourth-type__button fourth-type__button-contacts modal-franchise-open">
        Franchise
        <svg class="button__icon">
          <use href="/src/images/symbol-defs.svg#icon-button-direct"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<div class="backdrop modal-locations">
  <div class="modal-window__locations">
    <button type="button" class="modal-window__close-btn modal-locations-close">
      <svg class="modal-window__close-icon">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="location__header">Our Locations</p>
    <form class="location__form">
      <picture class="location__map">
        <source srcset="#">
        <img src="#" alt="map" class="map-image"
      /></picture>

      <button type="button " class="button second-type__button loc-btn">
        <a
          target="_blank"
          href="https://www.google.com/maps/d/viewer?mid=1C4W0S71lGikqtgdKap2n6c4wxus&hl=ru&ll=50.448958476457285%2C30.541042573101002&z=14"
          class="location__button-link"
          >Open map</a
        >
      </button>
    </form>
  </div>
</div>

<script src="/src/script/modal-loc.js"></script>

<div class="backdrop is-hidden modal-franchise">
  <link rel="stylesheet" href="./sass/components/_modal-loc.scss" />
  <div class="modal-window__franchise">
    <button type="button" class="modal-window__close-btn modal-franchise-close">
      <svg class="modal-window__close-icon">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <strong class="franchise__header"
      >Thank you for your interest in owning an Ice Cream shop</strong
    >
    <p class="franchise__page">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>

    <form class="franchise__form">
      <label class="franchise__label"
        ><span class="franchise__label-cont">
          <input
            placeholder="Name"
            type="text"
            class="franchise__input"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇ`ʼ]+"
            name="user_name"
          /> </span></label
      ><label class="franchise__label">
        <span class="franchise__label-cont">
          <input
            placeholder="Phone"
            type="tel"
            class="franchise__input"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            name="user_phone"
          /> </span></label
      ><label class="franchise__label">
        <span class="franchise__label-cont"
          ><input
            placeholder="Mail"
            type="email"
            name="user_mail"
            required
            class="franchise__input"
          /> </span
      ></label>
      <label class="franchise__label">
        <textarea
          name="user_comm"
          class="franchise__comm"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="second-type__button button btn-size">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="/src/script/modal-fran.js"></script>
