<div class="page-reviews__container container">
  <h2 class="visually-hidden">Комменатрі</h2>
  <div class="page-reviews__box mySlides fade">
    <picture class="page-reviews__picture">
      <source
        srcset="
          ./images/reviews/customers1_1x.webp 1x,
          ./images/reviews/customers1_2x.webp 2x
        " @media="(min-width: 320px) and (max-width: 1600px)"
      />
      <img
        class="page-reviews-image"
        srcset="./images/reviews/customers1_2x.png 2x"
        src="./images/reviews/customers1_1x.png"
        alt="Women with black hair"
      />
    </picture>
    <div class="page-reviews__text-container tablet-padding">
      <p class="page-reviews__text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <p class="page-reviews__contacts">Emily, Los Angeles</p>
  </div>
  <div class="page-reviews__box mySlides fade">
    <picture class="page-reviews__picture">
      <source
        srcset="
          ./images/reviews/customers2_1x.webp 1x,
          ./images/reviews/customers2_2x.webp 2x
        " @media="(min-width: 320px) and (max-width: 1600px)"
      />
      <img
        class="page-reviews-image"
        srcset="./images/reviews/customers2_2x.png 2x"
        src="./images/reviews/customers2_1x.png"
        alt="Sexy women with black hair"
      />
    </picture>
    <div class="page-reviews__text-container">
      <p class="page-reviews__text">
        I love eating popsicles on a hot day. Yours is always delicious. I
        recommend your cafe to everyone I know.
      </p>
    </div>
    <p class="page-reviews__contacts">Sam, Los Angeles</p>
  </div>
  <div class="page-reviews__box mySlides fade">
    <picture class="page-reviews__picture">
      <source
        srcset="
          ./images/reviews/customers3_1x.webp 1x,
          ./images/reviews/customers3_2x.webp 2x
        " @media="(min-width: 320px) and (max-width: 1600px)"
      />
      <img
        class="page-reviews-image"
        srcset="./images/reviews/customers3_2x.png 2x"
        src="./images/reviews/customers3_1x.png"
        alt="Sexy women with black hair"
      />
    </picture>
    <div class="page-reviews__text-container">
      <p class="page-reviews__text">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
    </div>
    <p class="page-reviews__contacts">Diana, Chicago</p>
  </div>
  <div class="page-reviews__box mySlides fade">
    <picture class="page-reviews__picture">
      <source
        srcset="
          ./images/reviews/customers4_1x.webp 1x,
          ./images/reviews/customers4_2x.webp 2x
        " @media="(min-width: 320px) and (max-width: 1600px)"
      />
      <img
        class="page-reviews-image"
        srcset="./images/reviews/customers4_2x.png 2x"
        src="./images/reviews/customers4_1x.png"
        alt="Sexy women with black hair"
      />
    </picture>
    <div class="page-reviews__text-container">
      <p class="page-reviews__text">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
    </div>
    <p class="page-reviews__contacts">Bryan, New-York</p>
  </div>
  <div style="text-align: center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>
  <script src="./script/reviews.js"></script>
</div>
