<footer>
    <div class="footer-section">
        <p>homemade ice cream made</p>
        <h2>with passion</h2>
    </div>
    <div class="footer-icons">
        <ul class="icons">
            <li>
                <!-- <a href="https://github.com/YuriyChernyakov/goit-markup-command-project"><svg>

 </svg>
</a> -->
            </li>
            <li>
                <!-- <a href="https://web.telegram.org/"><svg>

        </svg>
    </a> -->
            </li>
            <li>
                <!-- <a href="https://www.facebook.com/"><svg>
        
        </svg>
    </a> -->
            </li>
        </ul>
    </div>
    <div class="footer-contacts">
        <h3 class="page-footer-number">Feel free to contact
            <span class="current-mob">
                <a href="tell:+61(0)383766284" class="current-link link">
                    +61 (0) 383 766 284</a>
            </span>
        </h3>
        </ul>
    </div>
    <div class="footer-end">
        <p>© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>