<div class="backdrop is-hiddden">
  <div class="modal-window__franchise">
    <strong class="franchise__header"
      >Thank you for your interest in owning an Ice Cream shop</strong
    >
    <p class="franchise__page">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>

    <form class="franchise__form">
      <label class="franchise__label"
        ><span class="franchise__label-cont">
          <input
            placeholder="Name"
            type="text"
            class="franchise__input"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇ`ʼ]+"
            name="user_name"
          /> </span></label
      ><label class="franchise__label">
        <span class="franchise__label-cont">
          <input
            placeholder="Phone"
            type="tel"
            class="franchise__input"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            name="user_phone"
          /> </span></label
      ><label class="franchise__label">
        <span class="franchise__label-cont"
          ><input
            placeholder="Mail"
            type="email"
            name="user_mail"
            required
            class="franchise__input"
          /> </span
      ></label>
      <label class="franchise__label">
        <textarea
          name="user_comm"
          class="franchise__comm"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="second-type__button button btn-size">
        Submit
      </button>
    </form>
  </div>
</div>
