

<section class="section section--gallery">
    <div class="container gallery__slides-container">

        <div class="iceCreamSlides">
            <!-- <div class="numbertext">1 / 3</div> -->
            <picture class=" gallery__picture">
                <source srcset="./images/gallery/gallery-desk_1x.webp 1x, ./images/gallery/gallery-desk_2x.webp 2x" media="(min-width: 1200px)" />
                <source srcset="./images/gallery/gallery-desk_1x.png 1x, ./images/gallery/gallery-desk_2x.png 2x"
                    media="(min-width: 1200px)" />
                <source srcset="./images/gallery/gallery-tab_1x.webp 1x, ./images/gallery/gallery-tab_2x.webp 2x" media="(min-width: 768px)" />
                <source srcset="./images/gallery/gallery-tab_1x.png 1x, ./images/gallery/gallery-tab_2x.png 2x"
                    media="(min-width: 768px)" />
                <source srcset="./images/gallery/gallery-mob_1x.webp 1x, ./images/gallery/gallery-mob_2x.webp 2x" media="(max-width: 767px)" />
                <img srcset="./images/gallery/gallery-mob_2x.png 2x" src="./images/gallery/gallery-mob_1x.png" alt="Зображення нашого морозива №1"/>
            </picture>
        </div>

        <!-- <div class="iceCreamSlides">
            <div class="numbertext">2 / 3</div>
            <picture class=" gallery__picture">
                <source srcset="#" media="(min-width: 1200px)">
                <source srcset="#" media="(min-width: 768px)">
                <source srcset="#" media="(max-width: 767px)">
                <img src="#" alt="Зображення нашого морозива №2">
            </picture>
        </div>

        <div class="iceCreamSlides">
            <div class="numbertext">3 / 3</div>
            <picture class=" gallery__picture">
                <source srcset="#" media="(min-width: 1200px)">
                <source srcset="#" media="(min-width: 768px)">
                <source srcset="#" media="(max-width: 767px)">
                <img src="#" alt="Зображення нашого морозива №3">
            </picture>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
    </div> -->
</section>

<script src="./script/auto-slides.js"></script>