<header class="header" id="header">
  <div class="container header__container">
    <a href="/src/index.html" class="logo-header"
      ><img
        src="/src/images/header/logo.png"
        alt="logo"
        class="logo-header__icon"
    /></a>
    <ul class="header__list list">
      <li class="header__item">
        <a href="#header" class="header__link link"></a>Home
      </li>
      <li class="header__item">
        <a href="#about" class="header__link link"></a>How it’s made?
      </li>
      <li class="header__item">
        <a href="#products" class="header__link link"></a>Our products
      </li>
      <li class="header__item">
        <a href="#contact" class="header__link link"></a>Contact
      </li>
    </ul>
    <button type="button" class="btn__header button second-type__button">
      Buy now<svg class="button__icon">
        <use href="/src/images/symbol-defs.svg#icon-button-direct"></use>
      </svg>
    </button>
    <a href="#" class="logo-mobile"><img src="/src/images/header/logo.webp" alt="logo for mobile"></a>
    <!-- mobile open btn -->
    <button class="mob-btn-open js-open-menu" type="button">
      <svg class="mobile-menu-burger" width="32" height="32"><use href="/src/images/symbol-defs.svg#icon-burger"></use></svg>
    </button>
    <div class="mobile-menu toggleMenu js-menu-container" id="mobile-menu">
      <div class="container mobile-menu__container">
        <div class="mobile-menu__box">
        <a href="#" class="logo-mobile-menu"><img src="/src/images/header/logo.webp" alt="logo for mobile"></a>
          <button type="button" class="btn-mobile__close js-close-menu">
            <svg class="btn-close__icon" width="19" height="19">
              <use href="/src/images/symbol-defs.svg#icon-close"></use>
            </svg>
          </button>
        </div>
      <nav class="mobile-menu__nav">
        <ul class="mobile-menu__list list">
            <li class="mobile-menu__item">
              <a class="link mobile-menu__link" href="#">Home</a>
            </li>
            <li class="mobile-menu__item">
                <a class="link mobile-menu__link" href="#">How it’s made?</a>
            </li>
            <li class="mobile-menu__item">
                <a class="link mobile-menu__link" href="">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a class="link mobile-menu__link" href="">Contact</a>
            </li>
        </ul>
      </nav>
      <button type="button" class="mobile-menu__btn button second-type__button">
        Buy now<svg class="button__icon">
          <use href="/src/images/symbol-defs.svg#icon-button-direct"></use>
        </svg>
      </button>
    </div>
  </div>
  </div>
  <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>
    <script defer src="/src/script/mobile-menu.js"></script>
</header>

<!-- hero -->
<section class="hero">
  <div class="container container__hero">
    <h2 class="hero__text">
      ice cream made with <span class="hero__text--bolder">passion</span>
    </h2>
    <div class="hero__buttons">
      <a class="button first-type__button" href="#products">Products</a>
      <a class="button third-type__button" href="#about">How it’s made?</a>
    </div>
    <picture class="hero__isecream">
      <source
        srcset="./images/header/big-icecream-desk_1x.webp 1x"
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="./images/header/big-icecream-desk_1x.png 1x"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/header/big-icecream-tab_1x.webp 1x,
          ./images/header/big-icecream-tab_2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/header/big-icecream-tab_1x.png 1x,
          ./images/header/big-icecream-tab_2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/header/big-icecream-mob_1x.webp 1x,
          ./images/header/big-icecream-mob_2x.webp 2x
        "
        media="(min-width:20px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/header/big-icecream-mob_1x.png 1x,
          ./images/header/big-icecream-mob_2x.png 2x
        "
        media="(min-width:20px)"
      />
      <img src="#" alt="Ice Cream" />
    </picture>
    <picture class="hero__dots">
      <source
        srcset="
          ./images/header/dots-desk_1x.webp 1x,
          ./images/header/dots-desk_2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/header/dots-desk_1x.png 1x,
          ./images/header/dots-desk_2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/header/dots-tab_1x.webp 1x,
          ./images/header/dots-tab_2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/header/dots-tab_1x.png 1x,
          ./images/header/dots-tab_2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/header/dots-mob_1x.png 1x,
          ./images/header/dots-mob_2x.png 2x
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/header/dots-mob_1x.webp 1x,
          ./images/header/dots-mob_2x.webp 2x
        "
        media="(max-width:767px)"
        type="image/webp"
      />
      <img src="/src/images/header/dots-mob_1x.png" alt="dots" />
    </picture>

    <picture class="hero__dish-icecream">
      <source
        srcset="./images/header/dish-icecream-desk_2x.webp 2x"
        media="(min-width:1200px)"
        type="image/webp"
      />
      <source
        srcset="./images/header/dish-icecream-desk_2x.png 1x"
        media="(min-width:1200px)"
      />
      
      <source
        srcset="
          ./images/header/dish-icecream-tab_1x.png 1x,
          ./images/header/dish-icecream-tab_2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/header/dish-icecream-tab_1x.webp 1x,
          ./images/header/dish-icecream-tab_2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <img src="#" alt="dish" />
    </picture>
    <div class="dish__text--thumb">
      <p class="dish__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <!-- <button class="arrow"></button> -->
    </div>

    <ul class="hero__stat">
      <li class="hero__number">16</li>
      <li class="hero__number--descr">cafes</li>
      <li class="hero__number hero__number--margin">23</li>
      <li class="hero__number--descr">food trucks</li>
    </ul>
  </div>
</section>