<header class="header">
    <div class="container">
        <a href="#" class="header-logo "><svg class="contacts__icon" width="28" height="55">
            <use href="#"></use></svg></a>
        <ul class="header__list list">
           <li class="header__item"><a href="#" class="header__link link"></a>Home</li>
           <li class="header__item"><a href="#" class="header__link link"></a>How it’s made?</li>
           <li class="header__item"><a href="#" class="header__link link"></a>Our products</li>
           <li class="header__item"><a href="#" class="header__link link"></a>Contact</li>
        </ul>
        <button type="button" class="btn__header">Buy now</button>
    <!-- mobile btn -->
    <button class="mob-btn__open " type="button">
        <svg class="btn-mob__icon" width="40" height="40">
          <use href="#"></use></svg>
      </button>
    <!-- mobile-menu -->
    <div class="mobile-menu container" id="mobile-menu">
        <button class="btn-mobile__close " type="button">
          <svg class="mobile-menu__icon" width="19" height="19">
            <use href="#"></use></svg>
        </button>
        <div class="menu-container">
          <nav>
            <ul class="mobile-menu__list list">
                <li class="mobile-menu__item">
                <a class="link mobile-menu__link" href="#">Home</a>
              </li>
              <li class="mobile-menu__item">
                <a class="link mobile-menu__link" 
                href="#"
                  >How it’s made?</a
                >
              </li>
              <li class="mobile-menu__item">
                <a class="link mobile-menu__link" 
                href="">Our products</a>
              </li>
              <li class="mobile-menu__item">
                <a class="link mobile-menu__link" 
                href="">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
          <button type="button" class="btn__header">Buy now</button>
    </div>
    </div>
</header>