<section class="hero">
  <div class="container">
    <h2 class="hero__text">
      ice cream made with <span class="hero__text--bolder">passion</span>
    </h2>
    <div class="hero__buttons">
      <a class="button first-type__button" href="#products">Products</a>
      <a class="button third-type__button" href="#about">How it’s made?</a>
    </div>
    <picture class="hero__isecream">
      <source
        srcset="
          ./images/header/big-icecream-mob_1x.png 1x,
          ./images/header/big-icecream-mob_2x.png 2x
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/header/big-icecream-mob_1x.webp 1x,
          ./images/header/big-icecream-mob_2x.webp 2x
        "
        media="(max-width:767px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/header/big-icecream-tab_1x.png 1x,
          ./images/header/big-icecream-tab_2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/header/big-icecream-tab_1x.webp 1x,
          ./images/header/big-icecream-tab_2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="./images/header/big-icecream-desk_1x.png 1x"
        media="(min-width:200px)"
      />
      <source
        srcset="./images/header/big-icecream-desk_1x.webp 1x"
        media="(min-width:200px)"
        type="image/webp"
      />
      <img src="#" alt="Ice Cream" />
    </picture>
    <picture class="hero__dots">
      <source
        srcset="
          ./images/header/dots-mob_1x.png 1x,
          ./images/header/dots-mob_2x.png 2x
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/header/dots-mob_1x.webp 1x,
          ./images/header/dots-mob_2x.webp 2x
        "
        media="(max-width:767px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/header/dots-tab_1x.png 1x,
          ./images/header/dots-tab_2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/header/dots-tab_1x.webp 1x,
          ./images/header/dots-tab_2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/header/dots-desk_1x.png 1x,
          ./images/header/dots-desk_2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/header/dots-desk_1x.webp 1x,
          ./images/header/dots-desk_2x.webp 2x
        "
        media="(min-width:1200px)"
        type="image/webp"
      />
      <img src="#" alt="dots" />
    </picture>

    <picture class="hero__dish-icecream">
      <source
        srcset="
          ./images/header/dish-icecream-tab_1x.png 1x,
          ./images/header/dish-icecream-tab_2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/header/dish-icecream-tab_1x.webp 1x,
          ./images/header/dish-icecream-tab_2x.webp 2x
        "
        media="(min-width:768px)"
        type="image/webp"
      />
      <source
        srcset="./images/header/dish-icecream-desk_2x.png 1x"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/header/dish-icecream-desk_2x.webp 1x"
        media="(min-width:1200px)"
        type="image/webp"
      />
      <img src="#" alt="dish" />
    </picture>
    <div class="dish__text--thumb">
      <p class="dish__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="arrow"></button>
    </div>

    <ul class="hero__stat">
      <li class="hero__number">16</li>
      <li class="hero__number--descr">cafes</li>
      <li class="hero__number hero__number--margin">23</li>
      <li class="hero__number--descr">food trucks</li>
    </ul>
  </div>
</section>
