<div class="backdrop is-hidden" modal-locations>
  <div class="modal-window__locations">
    <button type="button" class="modal-window__close-btn" modal-locations-close>
      <svg class="modal-window__close-icon">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="location__header">Our Locations</p>
    <form class="location__form">
      <picture class="location__map"
        ><source />
        <img src="#" alt="map" class="map-image"
      /></picture>
      <button type="button " class="button second-type__button">
        <a
          target="_blank"
          href="https://www.google.com/maps/d/viewer?mid=1C4W0S71lGikqtgdKap2n6c4wxus&hl=ru&ll=50.448958476457285%2C30.541042573101002&z=14"
          class="location__button-link"
          >Open map</a
        >
      </button>
    </form>
  </div>
</div>
