<section class="products " id="products">
  <div class="container products__container">

    <span class="products__peculiarity">100% natural</span>
    <h2 class="products__title">products</h2>
    <div class="products__set">
    
   <div class="products__bg-cont-ice-cream">   
       <div class="products__item ">
      
          <picture class="products__poto">
            <source srcset="
                      ./images/products/products1-desk_1x.webp 1x,
                      ./images/products/products1-desk_2x.webp 2x
                    " media="(min-width:1200px)" />
            <source srcset="
                      ./images/products/products1-desk_1x.png 1x,
                      ./images/products/products1-desk_2x.png 2x
                    " media="(min-width:1200px)" />
            <source srcset="
                      ./images/products/products1-tab_1x.webp 1x,
                      ./images/products/products1-tab_2x.webp 2x
                    " media="(min-width:768px)" />
            <source srcset="
                      ./images/products/products1-tab_1x.png 1x,
                      ./images/products/products1-tab_2x.png 2x
                    " media="(min-width:768px)" />
            <source srcset="
                      ./images/products/products1-mob_1x.webp 1x,
                      ./images/products/products1-mob_2x.webp 2x
                    " media="(max-width:767px)" />
            <img class="products__img img-ice-cream" srcset="./images/products/products1-mob_2x.png 2x"
              src="./images/products/products1-mob_1x.png" alt="ice cream" />
          </picture>
           <div class="products__bg ice-cream">  
          <h3 class="products__name">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
       <button
              type="button"
              class="products__button--open"
              data-modal-open>
              <svg width="40px" height="10px" aria-label="Arrow">
            <use href="/src/images/symbol-defs.svg#icon-arrow-1"></use>
              </svg>
          </button>
      </div>
    </div></div>

    <div class="products__bg-cont-ice-coffee">
        <div class="products__item">
          <picture class="products__poto">
            <source srcset="
                    ./images/products/products2-desk_1x.webp 1x,
                    ./images/products/products2-desk_2x.webp 2x
                  " media="(min-width:1200px)" />
            <source srcset="
                    ./images/products/products2-desk_1x.png 1x,
                    ./images/products/products2-desk_2x.png 2x
                  " media="(min-width:1200px)" />
            <source srcset="
                    ./images/products/products2-tab_1x.webp 1x,
                    ./images/products/products2-tab_2x.webp 2x
                  " media="(min-width:768px)" />
            <source srcset="
                    ./images/products/products2-tab_1x.png 1x,
                    ./images/products/products2-tab_2x.png 2x
                  " media="(min-width:768px)" />
            <source srcset="
                    ./images/products/products2-mob_1x.webp 1x,
                    ./images/products/products2-mob_2x.webp 2x
                  " media="(max-width:767px)" />
            <img class="products__img img-ice-coffee" srcset="./images/products/products2-mob_2x.png 2x"
              src="./images/products/products2-mob_1x.png" alt="ice coffee" />
          </picture>
          <div class="products__bg ice-coffee">
            <h3 class="products__name">ice coffee</h3>
            <p class="products__text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
            <button
              type="button"
              class="products__button--open"
              data-modal-open>
              <svg width="40px" height="10px" aria-label="Arrow">
            <use href="/src/images/symbol-defs.svg#icon-arrow-1"></use>
              </svg>
          </button>
          </div>
        </div>
    </div>
    
    <div class="products__bg-cont-milkshakes">
        <div class="products__item products__item-size">
          <picture class="products__poto">
            <source srcset="
                    ./images/products/products3-desk_1x.webp 1x,
                    ./images/products/products3-desk_2x.webp 2x
                  " media="(min-width:1200px)" />
            <source srcset="
                    ./images/products/products3-desk_1x.png 1x,
                    ./images/products/products3-desk_2x.png 2x
                  " media="(min-width:1200px)" />
            <source srcset="
                    ./images/products/products3-tab_1x.webp 1x,
                    ./images/products/products3-tab_2x.webp 2x
                  " media="(min-width:768px)" />
            <source srcset="
                    ./images/products/products3-tab_1x.png 1x,
                    ./images/products/products3-tab_2x.png 2x
                  " media="(min-width:768px)" />
            <source srcset="
                    ./images/products/products3-mob_1x.webp 1x,
                    ./images/products/products3-mob_2x.webp 2x
                  " media="(max-width:767px)" />
            <img class="products__img img-milkshakes" srcset="./images/products/products3-mob_2x.png 2x"
              src="./images/products/products3-mob_1x.png" alt="ice cream" />
          </picture>
       
          <div class="products__bg milkshakes">
            <h3 class="products__name">milkshakes</h3>
            <p class="products__text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>

             <button
              type="button"
              class="products__button--open"
              data-modal-open>
              <svg width="40px" height="10px" aria-label="Arrow">
            <use href="/src/images/symbol-defs.svg#icon-arrow-1"></use>
              </svg>
          </button>
        </div>
          </div>
        </div>
     
  
  
</section>

</div>
<div class="backdrop is-hidden" data-modal> 
  <div class="products__modal">
     <button type="button" class="close-modal-btn"data-modal-close >
      <svg class="close-modal-icone">
        <use href="/src/images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  <div class="products__modal-container">
    
    <h2 class="products__modal-container-title">Chololate icecream</h2>
    <picture class="products__poto-modal">
      <source
        srcset="
          ./images/products/ingredient_1x.webp 1x,
          ./images/products/ingredient_2x.webp 2x
        " @media="(min-width: 320px) and (max-width: 1600px)"
      />
      <img
        class="products__modal-img modal-img-ice-cream"
        srcset="./images/products/ingredient_2x.png 2x"
        src="./images/products/ingredient_1x.png"
        alt="Chololate ice-cream"
      />
    </picture>
    <ul class="modal__products-list">
      <li class="modal__products-item">
        <div class="modal__products-quantity">
          <div class="modal__products-value">320</div>
          kcal
        </div>
        <div class="modal__products-quantity">
          <div class="modal__products-value">4g</div>
          Prote...
        </div>
        <div class="modal__products-quantity">
          <div class="modal__products-value">8,2g</div>
          Fats
        </div>
        <div class="modal__products-quantity">
          <div class="modal__products-value">40,4g</div>
          Carbs
        </div>
      </li>
    </ul>
    <span class="products__modal-list-ingredients">Ingredients</span>
    <ul class="ingredients__list">
      <li class="ingredients__set">
        <div class="Ingredients__item">Milk</div>
        <div>100ml</div>
      </li>
      <li class="ingredients__set">
        <div class="Ingredients__item">Belgian chocolate</div>
        <div>20g</div>
      </li>
      <li class="ingredients__set">
        <div class="Ingredients__item">Cream</div>
        <div>150 ml</div>
      </li>
      <li class="ingredients__set">
        <div class="Ingredients__item">Cocoa powder</div>
        <div>30g</div>
      </li>
      <li class="ingredients__set">
        <div class="Ingredients__item">Sugar</div>
        <div>40g</div>
      </li>
      <li class="ingredients__set">
        <div class="Ingredients__item">Vanilla sugar</div>
        <div>10g</div>
      </li>
    </ul>
    <form class="prod__form">
      <span class="prod-modal__name">
        <input
          type="text"
          class="pr-mod__input"
          name="user_name"
          id="name"
          placeholder="Name"
          required
          autofocus
        />
      </span>
      <span class="prod-modal__phone">
        <input
          type="tel"
          class="pr-mod__input"
          name="user_phone"
          id="phone"
          placeholder="Phone"
        />
      </span>
      <span class="prod-modal__name imput-imput-textarea">
        <textarea
          class="pr-mod__input--textarea"
          name="User_massage"
          id="User-comments"
          placeholder="Comment"
        ></textarea>
      </span>
      <button type="button" class="products-modal__button" data-modal-close>
        Submit
      </button>
    </form>
  </div>
</div>
<script src="/src/script/modal-products.js"></script>