<section class="products">
  <div class="products__container">
    <span class="products__peculiarity">100% natural</span>
    <h2 class="products__title">products</h2>
    <div class="products__set">
      <ul class="products__item">
        <li class="products__list">
          <picture class="products__poto">
            <source
              srcset="#"
              media="(min-width:1200px)" />
            <source
              srcset="#"
              media="(min-width:768px)" />
            <source
              srcset="#"
              media="(max-width:767px)" />
            <img
              class="products__img products__img_img-ice-cream"
              srcset="#"
              src="#"
              alt="ice cream"
          /></picture>
          <div class="products__bg ice-cream">
            <h3 class="products__name">ice cream</h3>
            <p class="products__text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
            <button type="button" class="open-mobile-menu-products"></button>
          </div>
        </li>
      </ul>
      <li class="products__list">
        <ul class="products__item">
          <picture class="products__poto">
            <source
              srcset="#"
              media="(min-width:1200px)" />
            <source
              srcset="#"
              media="(min-width:768px)" />
            <source
              srcset="#"
              media="(max-width:767px)" />
            <img
              class="products__img img-ice-coffee"
              srcset="#"
              src="#"
              alt="ice coffee"
          /></picture>
          <div class="products__bg ice-coffee">
            <h3 class="products__name">ice coffee</h3>
            <p class="products__text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
            <button type="button" class="open-mobile-menu-products"></button>
          </div>
        </ul>
      </li>
      <li class="products__list">
        <ul class="products__item">
          <picture class="products__poto">
            <source
              srcset="#"
              media="(min-width:1200px)" />
            <source
              srcset="#"
              media="(min-width:768px)" />
            <source
              srcset="#"
              media="(max-width:767px)" />
            <img
              class="products__img img-milkshakes"
              srcset="#"
              src="#"
              alt="ice cream"
          /></picture>
          <div class="products__bg milkshakes">
            <h3 class="products__name">milkshakes</h3>
            <p class="products__text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
            <button type="button" class="open-mobile-menu-products"></button>
          </div>
        </ul>
      </li>
    </div>
  </div>
</section>
<div class="products__modal">
  <div class="products__modal-container">
    <h2 class="products__modal-container-title">Chololate icecream</h2>
    <ul>
      <li><div></div></li>
      <li><div></div></li>
      <li><div></div></li>
      <li><div></div></li>
      <span>Ingredients</span>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </ul>
  </div>
</div>
