.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 34px;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;

    &:disabled {
        cursor: not-allowed;
    }
}

.first-type__button {
    height: 42px;

    background: transparent;
    border: 2px solid var(--button-color-yel);
    border-radius: 10px;

    &:hover {
        border: 2px solid var(--button-color-green);
    }
    
    &:focus {
        color: var(--txt-color-btnwhi);
        border: 2px solid var(--button-color-green);
        outline: none;
    }
    
    &:disabled {
        border: 2px solid var(--button-color-gre);
        color: var(--txt-color-blck);
    }
}

.second-type__button {
    height: 42px;

    background: var(--button-color-yel);
    border: none;
    border-radius: 10px;

    &:hover {
        background: var(--button-color-green);
    }

    &:focus {
        background: var(--button-color-green);
        color: var(--txt-color-btnwhi);
        outline: var(--button-color-green);
    }

    &:disabled {
        background: var(--button-color-gre);
        color: var(--txt-color-blck);
    }
}

.third-type__button {
    height: 40px;

    background-color: transparent;
    border: none;

    color: var(--button-color-yel);
    text-decoration: underline;

    &:hover {
        color: var(--button-color-green);
    }

    &:focus {
        color: var(--txt-color-btnwhi);
    }

    &:disabled {
        color: var(--button-color-gre);
    }
}

.fourth-type__button {
    height: 42px;

    background-color: transparent;
    border: 2px solid var(--button-color-yel);
    border-radius: 10px;

    &:hover {
        border: 2px solid var(--button-color-green);
    }

    &:focus {
        color: var(--txt-color-btnwhi);
        border: 2px solid var(--button-color-green);
        outline: none;
    }

    &:disabled {
        border: 2px solid var(--button-color-gre);
        color: var(--txt-color-blck);
    }
}

.button__icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 12px;
    
    stroke-width: 0;
    stroke: currentColor;
    fill: transparent;
}

@media screen and (max-width: 1199px){
    .first-type__button {
        height: 24px;

        border-radius: 8px;
        padding: 8px 12px;

        font-size: 8px;
        line-height: 1.25;
    }

    .third-type__button {
        height: 24px;

        padding: 6px 10px;

        font-size: 8px;
        line-height: 1.25;
    }
}
