.franchise__header {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--txt-color-blck);
}
.franchise__page {
  margin-bottom: 24px;

  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.4;
  color: var(--txt-color-blck);
}
.franchise__input,
.franchise__comm {
  width: 100%;
  height: 32px;
  padding: 8px 12px;

  border: 1px solid rgba(132, 161, 120, 1);
  border-radius: 10px;
  background-color: rgba($color: var(--button-color-yel), $alpha: 0.1);

  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 1.4;
  color: var(--txt-color-blck);

  &:focus {
     outline: none;
     border-color: var(--button-color-yel);
  }
}
.franchise__comm {
  display: block;
  min-height: 64px;
}
.franchise__label {
  margin-bottom: 12px;
  width: 100%;
}
.franchise__label:nth-child(4) {
  margin-bottom: 24px;
}
.franchise__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-size {
  height: 42px;
}

@media screen and (min-width: 768px) {
  .franchise__header {
    width: 320px;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  .franchise__page {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .franchise__input,
  .franchise__comm {
    height: 42px;
    padding: 11px 16px;

    font-size: 14px;
  }
  .franchise__comm {
    height: 84px;
  }
  .franchise__label {
    margin-bottom: 16px;
    width: 368px;
  }
  .franchise__label:nth-child(4) {
    margin-bottom: 32px;
  }
}
