.location__header {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--txt-color-blck);
  margin-bottom: 20px;
}
.location__button-link {
  color: currentColor;
}
.map-image {
  display: block;
  width: 100%;
  min-height: 200px;
  min-width: 224px;

  background-color: bisque;
  border: none;
  border-radius: 10px;
  margin-bottom: 24px;
}
.location__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .location__header {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  .map-image {
    width: 448px;
    height: 260px;
    border-radius: 10px;
    margin-bottom: 32px;
  }
}