.about__container {
    padding: 60px 21px;
    background-color: var(--background-gre);
}

.about-label {
    margin-bottom: 12px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.29;

    text-align: center;
    text-transform: uppercase;
    
    color: var(--txt-color-btnwhi);
}

.about-title {
    margin-bottom: 53px;

    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--txt-color-btnwhi);
}

.about-image {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 22px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), var(--background-img);
    box-shadow: 0 -21px 0 0 rgba(248, 210, 78, 0.7)
}

.about-paragraph {
    padding-left: 29px;
    padding-right: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--txt-color-btnwhi);
}

.about-paragraph__first {
    padding-bottom: 4px;
    line-height: 1.75;
}

.about-paragraph__second {
    letter-spacing: 0.0em;
    line-height: 1.58;
}

.about-list {
    display: flex;
    flex-wrap: wrap;

    row-gap: 22px;

}

.about-list__items {
    display: block;
    text-align: center;

}

.about-list__icon {
    align-content: center;

}

.about-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 42px;
    width: 164px;
    background: var(--button-color-yel);
    border-radius: 10px;
    border-style: none;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    
    align-items: center;
        color: #131313;
    text-align: center;
}

.about-button:after {
    content: url(../images/vector.svg);
    padding-left: 5px;
}