.page-reviews__container {
  position: relative;
  padding: 0 20px;
  margin-bottom: 48px;
}
.page-reviews__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.page-reviews__picture {
  display: flex;
  justify-content: center;
}
.page-reviews-image {
  background-color: aqua;
  border-radius: 50%;
}

.page-reviews__text-container {
  padding: 34px 39px;
  height: 256px;
  border-radius: 10px;
  background-color: var(--background-gre);
  margin-bottom: 30px;
}
.page-reviews-image {
  margin-bottom: 32px;
}
.page-reviews__contacts {
  text-align: center;
  margin-bottom: 14px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  color: var(--txt-color-blck);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
// .mySlides {
//   display: none;
// }
.page-reviews__text {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 2.55;
  color: var(--txt-color-btnwhi);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--background-img);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  .active,
  &:hover {
    background-color: var(--background-gre);
  }
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 480px) {
  .page-reviews__container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .page-reviews__text-container {
    height: 138px;
    padding: 23px 39px;
  }
}
@media screen and(min-width:768px) {
  .page-reviews__container {
    width: 768px;
    margin-bottom: 80px;
    padding: 0 32px;
  }
  .page-reviews__text-container {
    height: 138px;
    padding: 29px 80px;
  }
  .page-reviews__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
  .page-reviews__contacts {
    line-height: 16px;
  }
}
@media screen and(min-width:832px) {
  .page-reviews__container {
    width: 768px;
    padding: 0;
  }
}
@media screen and(min-width:1200px) {
  .page-reviews__text {
    font-size: 16px;
  }
  .page-reviews__text-container {
    padding: 39px 74px;
  }
  .page-reviews__container {
    width: 1200px;
    padding: 0 116px;
  }
}
@media screen and(min-width:1432px) {
  .page-reviews__container {
    padding: 0;
  }
}
