
.section--gallery {
    margin: auto;
    
    background: linear-gradient(180deg,
             rgba(132, 161, 120, 1) 0%, rgba(132, 161, 120, 1) 18.5%,
             rgba(255, 255, 255, 1) 18.5%, rgba(255, 255, 255, 1) 100%);


    @media screen and(min-width:768px) {
        background: linear-gradient(180deg,
             rgba(132, 161, 120, 1) 0%, rgba(132, 161, 120, 1) 50%,
             rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
        }
    
        @media screen and(min-width:1200px) {
        background: linear-gradient(180deg,
             rgba(132, 161, 120, 1) 0%, rgba(132, 161, 120, 1) 22%,
             rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 1) 100%);
        }
}

.iceCreamSlides {
    display: none;
}

.gallery__slides-container {
    position: relative;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
