.page-reviews__container {

    @media screen and (min-width:1200px) {
        padding-top: 128px;
    }

    @media screen and (min-width:768px) {
        padding-top: 60px;
    }

    @media screen and (max-width:767px) {
        padding-top: 80px;
    }
}

.advantages {
    padding-bottom: 36px;

    @media screen and(min-width: 768px) {
        padding-bottom: 40px;
    }
}

.section--gallery {
    margin-right: auto;
    margin-left: auto;

    background: linear-gradient(180deg,
             rgba(132, 161, 120, 1) 0%, rgba(132, 161, 120, 1) 18.5%,
             rgba(255, 255, 255, 1) 18.5%, rgba(255, 255, 255, 1) 100%);


    @media screen and(min-width:768px) {

        background: linear-gradient(180deg,
             rgba(132, 161, 120, 1) 0%, rgba(132, 161, 120, 1) 50%,
             rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
        }
    
        @media screen and(min-width:1200px){

        background: linear-gradient(180deg,
             rgba(132, 161, 120, 1) 0%, rgba(132, 161, 120, 1) 22%,
            rgba(132, 161, 120, 0) 22%,rgba(132, 161, 120, 0) 100%);
        }
    }

.container--gallery {
    @media screen and (min-width:1200px) {
    padding-left: 94px;
    padding-right: 94px;
    }
}

.gallery__picture--img {
    width: 279px;
    height: 130px;

    @media screen and(min-width:768px) {
        width: 704px;
        height: 327px;
    }

    @media screen and(min-width:1200px) {
        width: 1013px;
        height: 422px;
    }
}