.header {
  &__container {
    background-color: var(--background-gre);
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__list {
    display: flex;
    margin-left: 270px;
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
  &__item {
    color: #fcfcfc;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }

  &__item:not(:first-child) {
    margin-left: 27px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:hover,
  &__item:focus {
    color: #f8d24e;
  }

  &__link {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
  }
}
.btn__header {
  cursor: pointer;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.btn-header__icon {
  position: absolute;
  fill: var(--primary-white-color--);
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

/***mobile btn open***/
.mob-btn__open {
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: transparent;

  border: none;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover .mob-btn__icon {
    fill: var(--accent-color--);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100vw;
  height: 100vh;
  padding-top: 12px;
  padding-bottom: 63px;
  padding-left: 23px;
  padding-right: 22px;
  overflow-y: auto;

  background-color: var(--background-gre);
}
.mobile-menu__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
  margin-right: 4px;
  margin-bottom: 51px;
}
.btn-mobile__close {
  background-color: transparent;
  border: none;
}
.mobile-menu__link {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: #fcfcfc;
}
.container {
  width: 100%;
  margin: 0;
  height: 100%;

  @media screen and(max-width:767px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and(min-width:768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and(min-width:1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  position: relative;
  background-color: var(--background-gre);
  &__buttons {
    display: flex;
    margin-top: 32px;
  }
  height: 400px;
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 312px;
  }

  & .container {
    position: relative;
  }

  @media screen and(min-width:1200px) {
    height: 561px;
  }
}

.hero__buttons {
  display: flex;
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 28px;
  }
}

.third-type__button {
  margin-left: 12px;
  max-height: 154px;
}

.hero__text {
  padding-top: 7px;
  max-width: 247px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--txt-color-btnwhi);

  &--bolder {
    font-size: 34px;
    @media screen and (min-width: 768px) {
      font-size: 25px;
      max-width: 183px;
      line-height: 1.25;
    }

    @media screen and (min-width: 1200px) {
      font-size: 38px;

      max-width: 367px;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    max-width: 182px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 38px;

    max-width: 367px;
    padding-top: 15px;
  }
}

.hero__isecream {
  width: 270px;
  z-index: 20;
  position: absolute;
  bottom: 0;

  right: 50%;

  transform: translate(50%, 16%);

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 343px;
    right: -75%;
    transform: translate(-28%, -16%);
  }

  @media screen and (min-width: 1200px) {
    transform: translate(7%, -62%) scale(1.7);
  }
}

.hero__dots {
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;

  @media screen and (min-width: 1200px) {
    transform: translate(-22%, -35%) scale(1.55);
  }
}

.hero__dish-icecream {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  position: absolute;
  left: 32px;
  bottom: 13px;
  @media screen and (min-width: 1200px) {
    transform: scale(1.48) translate(15%, -30%);
  }
}

.dish__text--thumb {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  margin-top: 56px;
  margin-left: 217px;
  width: 151px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: var(--txt-color-btnwhi);
  @media screen and (min-width: 1200px) {
    width: 200px;

    font-size: 14px;
    margin-top: 111px;
    margin-left: 256px;
  }
}

.hero__stat {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  position: absolute;
  top: 14px;
  right: 20px;
  @media screen and (min-width: 1200px) {
    top: 104px;
  }
}

.hero__number--margin {
  margin-top: 20px;
}

.hero__number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.21;
  text-align: right;

  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--txt-color-blck);

  @media screen and (min-width: 1200px) {
    font-size: 46px;
  }
}

.hero__number--descr {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: end;
  color: var(--txt-color-btnwhi);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.arrow {
  margin-top: 20px;
  width: 40px;
  height: 5px;
  background-color: transparent;
  border: none;
}

.arrow__img {
  fill: var(--txt-color-btnwhi);
}

.hero__buttons .first-type__button {
  color: var(--txt-color-blck);
  &:focus {
    color: var(--txt-color-btnwhi);
    border: 2px solid var(--button-color-green);
    outline: none;
  }
}
