.container {
  width: 100%;
  margin: 0;

  @media screen and(max-width:767px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and(min-width:768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and(min-width:1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero {
  position: relative;
  background-color: var(--background-gre);
  &__buttons {
    display: flex;
    margin-top: 32px;
  }
  height: 502px;
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 415px;
  }
}

.hero__buttons {
  display: flex;
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
  text-decoration: none;
}

.third-type__button {
  margin-left: 8px;
}

.hero__text {
  padding-top: 110px;
  max-width: 247px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--txt-color-btnwhi);

  &--bolder {
    font-size: 34px;
    @media screen and (min-width: 768px) {
      font-size: 25px;
      max-width: 183px;
      line-height: 1.25;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    max-width: 182px;
    padding-top: 104px;
  }
}

.hero__isecream {
  width: 270px;
  z-index: 20;
  position: absolute;
  bottom: 0;

  right: 50%;

  transform: translate(50%, 16%);

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 343px;
    right: -75%;
    transform: translate(-28%, -16%);
  }
}

.hero__dots {
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
}

.hero__dish-icecream {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  position: absolute;
  left: 32px;
  bottom: 13px;
}

.dish__text--thumb {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  margin-top: 56px;
  margin-left: 217px;
  width: 151px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--txt-color-btnwhi);
}

.hero__stat {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  position: absolute;
  top: 104px;
  right: 20px;
}

.hero__number--margin {
  margin-top: 20px;
}

.hero__number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.21;

  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--txt-color-blck);
}

.hero__number--descr {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  text-align: right;

  color: var(--txt-color-btnwhi);
}

.arrow {
  margin-top: 20px;
}

.hero__buttons .first-type__button {
  text-decoration: none;
}
