.products__poto {
    z-index: 2;
    position: absolute;
    background: transparent;

}

.products__peculiarity {
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
    color: #131313;


    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.22;

    @media screen and(min-width:1200px) {
        font-size: 30px;
    }
}

.products__title {

    padding-bottom: 148px;

    color: #131313;
    text-transform: uppercase;
    font-family: Seymour One;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.27;
    text-align: center;

    @media screen and(min-width:1200px) {
        padding-bottom: 303px;
        font-size: 36px;
    }
}

.products__set {

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-evenly;
    }
}

.products__bg {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    border-radius: 24px;

    @media screen and(max-width:767px) {
        width: 280px;
        height: 420px;
    }

    @media screen and(min-width:768px) {
        width: 224px;
        height: 428px;
    }

    @media screen and(min-width:1200px) {
        width: 370px;
        height: 536px;
    }
}


.ice-cream.products__bg {
    background-color: #AEC6A5;
}

.ice-coffee.products__bg {
    background-color: #EFD478;
}

.milkshakes.products__bg {
    background-color: #D6936D;
}

.products__item {

    display: block;
    text-align: center;
    margin-bottom: 164px;
}

last-child {
    margin-bottom: 60px;
}

.products__name {
    padding-top: 123px;
    padding-bottom: 40px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.22;

    text-align: center;

    @media screen and(min-width:768px) {
        padding-top: 108px;
        padding-bottom: 40px;



    }

    @media screen and(min-width:1200px) {
        padding-top: 166px;
        padding-bottom: 65px;


        font-size: 30px;
        font-weight: 700;
        line-height: 1.23;
        text-align: center;
    }
}

.products__text {
    padding-left: 40px;
    padding-right: 40px;


    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.78;
    text-align: center;

    @media screen and(min-width:1200px) {
        font-size: 16px;
        line-height: 28px;
    }

}

.products__img {
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.img-ice-cream {
    box-shadow: 0px 17px 0px 0px rgba(174, 198, 165, 1), 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.img-ice-coffee {
    box-shadow: 0px 17px 0px 0px rgba(239, 212, 120, 1), 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.img-milkshakes {
    box-shadow: 0px 17px 0px 0px rgba(214, 147, 109, 1), 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.open-mobile-menu-products {


    color: #131313;
    width: 40px;
    border: 2px solid rgba(19, 19, 19, 1)
}



.products__modal-container {
    max-width: 280px;

    margin-left: auto;
    margin-right: auto;

}