.products{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
@media screen and (min-width:768px){
    
    background-image: url(/src/images/bcgrounds/bcground2-tab_1x.jpg);
    }
  
}
.products__container-size{
    margin-left: auto;
    margin-right: auto;
}
// .products__container{
//     margin-left: auto;
//     margin-right: auto;
//     width: 768px;
//     height: 862px;
     

//         @media screen and(min-width:1200px) {
//             padding-right: 12px;
//             padding-left: 12px;
//             width: 1200px;
//             height: 1053px;
//             background-image: url(/src/images/bcgrounds/bcground1-desk_1x.jpg);
//         }
//     width: 100%;

// }
.container__products-ice-cream{
    
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media screen and(max-width:767px) {
        background-image: url(/src/images/bcgrounds/bcground1-mob_1x.jpg);
    }
    
}
.container__products-ice-coffee{
 
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    @media screen and(max-width:767px){
        background-image: url(/src/images/bcgrounds/bcground2-mob_1x.jpg);
    }
   
}
.container__products-milkshakes{

        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    @media screen and(max-width:767px){
        background-image: url(/src/images/bcgrounds/bcground3-mob_1x.jpg);
    }
    
}
.products__poto {
    z-index: 2;
    position: absolute;
    background: transparent;

}

.products__peculiarity {
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
    color: #131313;


    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.22;

    @media screen and(min-width:1200px) {
        font-size: 30px;
    }
}

.products__title {

    padding-bottom: 148px;

    color: #131313;
    text-transform: uppercase;
    font-family: Seymour One;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.27;
    text-align: center;

    @media screen and(min-width:1200px) {
        padding-bottom: 303px;
        font-size: 36px;
    }
}
.products__modal-img{
    border-radius: 50%;
}
.products__set {

    @media screen and (min-width:768px) {
        display: flex;
       
        ;
    }
}

.products__bg {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    border-radius: 24px;

    @media screen and(max-width:767px) {
        width: 280px;
        height: 420px;
    }

    @media screen and(min-width:768px) {
        width: 224px;
        height: 428px;
    }

    @media screen and(min-width:1200px) {
        width: 370px;
        height: 536px;
    }
}


.ice-cream.products__bg {
    background-color: #AEC6A5;
}

.ice-coffee.products__bg {
    background-color: #EFD478;
}

.milkshakes.products__bg {
    background-color: #D6936D;
}

.products__item {

    display: block;
    text-align: center;
    padding-bottom: 60px;
}

.products__name {
    padding-top: 123px;
    padding-bottom: 40px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.22;

    text-align: center;

    @media screen and(min-width:768px) {
        padding-top: 108px;
        padding-bottom: 40px;



    }

    @media screen and(min-width:1200px) {
        padding-top: 166px;
        padding-bottom: 65px;


        font-size: 30px;
        font-weight: 700;
        line-height: 1.23;
        text-align: center;
    }
}

.products__text {
    padding-left: 40px;
    padding-right: 40px;


    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.78;
    text-align: center;

    @media screen and(min-width:1200px) {
        font-size: 16px;
        line-height: 28px;
    }

}

.products__img {
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.img-ice-cream {
    box-shadow: 0px 17px 0px 0px rgba(174, 198, 165, 1), 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.img-ice-coffee {
    box-shadow: 0px 17px 0px 0px rgba(239, 212, 120, 1), 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.img-milkshakes {
    box-shadow: 0px 17px 0px 0px rgba(214, 147, 109, 1), 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.modal-img-ice-cream{
    box-shadow: 0px 5px 0px 0px rgba(156, 190, 143, 0.7), 0px 5px 19px 0px rgba(10, 136, 23, 0.25);

}

.products__modal-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin-left: auto;
margin-right: auto;
    @media screen and(min-width:768px) {
        width: 568px;

    }

    @media screen and(max-width:767px) {
        max-width: 280px;
    }


}
.modal__products-list{
    padding-bottom: 39px;

}
.modal__products-value {
font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 2.8;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 8px;
    text-align: center;
    border-radius: 50%;
    display: block;
    width: 43px;
    height: 43px;
box-shadow: 0px 6px 20px 0px rgba(10, 136, 23, 0.25);
    background-color: #9CBE8F;
}

.modal__products-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    height: 72px;
    width: 53px;
    border: 2px solid rgba(156, 190, 143, 1);

    left: 20px;
    top: 268px;
    border-radius: 40px;

    padding-bottom: 0;

font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
}

.container-title {
    padding-bottom: 22px;
    font-family: Seymour One;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0em;
    text-align: center;
}
.products__modal-container-title{
    text-align: center;
}
.products__modal-list-ingredients {
    padding-bottom: 24px;
    display: block;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;

    text-align: center;
}
.modal__products-item {
    display: flex;
    justify-content: space-around;

    @media screen and(min-width:768px) {
        gap: 20px;
        justify-content: center;
    }

}

.modal__products-item-set {
    display: flex;

}

.ingredients__list {
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    gap:11px;
}

.ingredients__set {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.products__poto-modal {
    
    display: block;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;

    width: 132px;
    height: 100%;

}
.products__modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 280px;
    height: 990px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 32px;
    background-color: #F5F5F5;
}
.prod__form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  


}
.pr-mod__input {
    border-radius: 10px;
    width: 240px;
    height: 42px;
    border: 1px solid rgba(132, 161, 120, 1);

    @media screen and (min-width:768px) {
        width: 368px;
        height: 42px;

    }
}
textarea {
    width: 240px;
    min-height: 84px;
    resize: none;
    border-radius: 10px;

    @media screen and (min-width:768px) {
        width: 368px;
        height: 42px;

    }
}
.prod__form{
    padding-bottom: 32px;
    gap: 16px;
    
}
.products-modal__button{

    border-radius: 10px;
    background-color: #F8D24E;
    color: #131313;
    width: 132px;
    height: 42px;
}
.products__button--open {
    width: 50px;
height: 10px;
    background-image: url(/src/images/symbol-defs.svg#icon-arrow-1);

    &:hover {
        background-image:url(/src/images/symbol-defs.svg#icon-arrow-2);
    }

    &:focus {
        background-image:url(/src/images/symbol-defs.svg#icon-arrow-3);
    }
}